<nav class="bottom-nav">
  <a routerLink="/home/dashboard" routerLinkActive="active" class="nav-item">
    <mat-icon class="nav-icon">home</mat-icon>
    <span class="nav-label">Inicio</span>
  </a>
  <a routerLink="/home/gallos" routerLinkActive="active" class="nav-item">
    <mat-icon class="nav-icon">bird</mat-icon>
    <span class="nav-label">Gallos</span>
  </a>
  <a routerLink="/home/vacunas" routerLinkActive="active" class="nav-item">
    <mat-icon class="nav-icon">vaccines</mat-icon>
    <span class="nav-label">Vacunas</span>
  </a>

  <a routerLink="/home/reportes" routerLinkActive="active" class="nav-item">
    <mat-icon class="nav-icon">assessment</mat-icon>
    <span class="nav-label">Reportes</span>
  </a>


</nav>
