<section>
  <p>Bienvenida</p>
</section>

<section class="grid">
  <div class="grid-cols-4">
    <div class="card">
      <div class="card-header">
        <span>titulo</span>
      </div>
      <div class="card-body">
        <span>body</span>
      </div>
      <div class="card-footer">
        <span>footer</span>
      </div>
    </div>
        <div class="card">
      <div class="card-header">
        <span>titulo</span>
      </div>
      <div class="card-body">
        <span>body</span>
      </div>
      <div class="card-footer">
        <span>footer</span>
      </div>
    </div>
        <div class="card">
      <div class="card-header">
        <span>titulo</span>
      </div>
      <div class="card-body">
        <span>body</span>
      </div>
      <div class="card-footer">
        <span>footer</span>
      </div>
    </div>
    
  </div>
</section>
