<div class="form-group">
  <div class="input-wrapper">
    @if (icon) {
      <i [class]="icon + ' input-icon'"></i>
    }
    <input 
      [type]="type"
      [id]="id"
      [placeholder]="placeholder"
      [required]="required"
      [disabled]="disabled"
      [value]="value"
      [class.has-icon]="icon"
      [class.has-error]="hasError"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
      class="form-control">
  </div>
  @if (hasError) {
    <div class="error-message">
      <i class="fas fa-exclamation-circle"></i>
      {{ errorMessage }}
    </div>
  }
</div>
