<mat-toolbar color="primary" class="header">

  <!-- Icono de usuario a la izquierda -->
  <button
    mat-icon-button
    class="user-btn"
    (click)="toggle.emit()"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <div class="brand" (click)="goToHome()">
    <span class="brand-icon">🐓</span>
    <span class="title"> Sistema de Gallos</span>
  </div>

  <span class="spacer"></span>

  <!-- Acciones -->
  <button mat-icon-button class="action-btn">
    <mat-icon>notifications</mat-icon>
  </button>

</mat-toolbar>
